<div class="container-lg">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Detail<b>Book</b></h2></div>
              </div>
          </div>
          <table class="table table-bordered">
              <thead>
                  <tr >
                      <th>Stt</th>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Quantity</th>
                  </tr>
              </thead>
              <tbody>
                  <tr >
                      <td>{{ book.id }}</td>
                      <td>{{ book.name }}</td>
                      <td>{{ book.author }}</td>
                      <td>{{ book.quantity }}</td>

                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>


